@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;800;900&display=swap');

html, body {
  font-family: -apple-system, "Muli", sans-serif;
  height: 100%;
}

div {
  min-height: 100%;
}

#mainContent {
  overflow: auto;
  padding-bottom: 50px;
  margin-left: 50px;
}

#statsContent {
  display: inline-block;
}

#graphContent {
  margin-left: 50px;
  display: inline-block;
}

p {
  margin: 0;
  padding: 2px;
}

h1 {
  font-weight: 900;
  font-style: normal;
}

h3.section {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

button.refresh {
  backface-visibility: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  background-color: lightgray;
  cursor: pointer;
  color: black;
  font-weight: 800;
  font-size: 18px;
  color: black;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

button.refresh:hover {
  background-color: #b5b5b5;
}

select {
  background-color: lightblue;
  padding: 5px;
  border: 2px;
  border-radius: 4px;
}

label {
  cursor: pointer;
}

footer {
  font-size: 11px;
  text-align: center;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}

a {
  color: black;
}

a:visited {
    color: black;
}

#graphContainer {
  width: 400px !important;
  height: 400px !important;
}


@media screen and (max-width: 750px) {
  #graphContent {
    margin-left: 0;
  }
}

@media screen and (max-width: 460px) {
  #mainContent {
    margin-left: 20px;
  }

  #graphContainer {
    width: 350px !important;
    height: 360px !important;
  }
}

@media screen and (max-width: 400px) {
  #graphContainer {
    text-align: center;
    width: 300px !important;
    height: 320px !important;
  }
}

@media screen and (max-width: 320px) {
  #graphContainer {
    width: 280px !important;
    height: 300px !important;
  }
}
