@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;500;600;800;900&display=swap');

html, body {
  font-family: -apple-system, "Muli", sans-serif;
  height: 100%;
}

div {
  min-height: 100%;
}

#mainContent {
  overflow: auto;
  padding-bottom: 50px;
  margin-left: 50px;
}

p {
  margin: 0;
  padding: 2px;
}

h1 {
  font-weight: 900;
  font-style: normal;
}

h3.section {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 600;
}

button.refresh {
  backface-visibility: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px;
  border-radius: 4px;
  padding: 10px 15px 10px 15px;
  background-color: lightgray;
  cursor: pointer;
  color: black;
  font-weight: 800;
  font-size: 18px;
  color: black;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

button.refresh:hover {
  background-color: #b5b5b5;
}

select {
  background-color: lightblue;
  padding: 5px;
  border: 2px;
  border-radius: 4px;
}

label {
  cursor: pointer;
}

footer {
  font-size: 11px;
  text-align: center;
  position: relative;
  height: 50px;
  margin-top: -50px;
  clear: both;
}

a {
  color: black;
}

a:visited {
    color: black;
}
